# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET
[Aa]pp_[Dd]ata/
[Ll]ogs/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
launchSettings.json

# Rider
.idea/

# dotCover
*.dotCover

# appsettings secrets
appsettings.*.json
appsettings.json
appsettings.Development.json

# Publish output
publish/
